%div#project
    %h1.standard= project["title"]
    
    %p= project["description"]
    
    %div= haml :_repo, :layout => false, :locals => {:project => project}
    
    - if rss
        %h2 Recent Updates
        %ul.project-updates
            - rss.items.each do |item|
                %li
                    %a{:href => item.link, :style => "background-image: url(#{item.media_thumbnail_url})"}
                        #{item.title}